{% extends "base.html" %} {% block content %}

<div class="rounded px-8 pt-6 pb-8 mb-4 flex flex-col mt-20 mx-auto max-w-lg">
<form id="log-form">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm  mb-2" for="username">
        Password
      </label>
      <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/><input class="shadow-xs appearance-none rounded w-full py-2 px-3 text-grey-darker" id="password" name="password" type="password" placeholder="New Password">
    <label class="block text-grey-darker text-sm  mb-2 mt-6" for="username">
        Password confirmation
      </label>
    <input class="shadow-xs appearance-none rounded w-full py-2 px-3 text-grey-darker" id="password_confirmation" name="password_confirmation" type="password" placeholder="Password confirmation">
    
    <p class="text-green-400" id="password-error"></p></div> 
    <div class="flex items-center justify-start">
   
      <button id="submit-btn" class="bg-indigo-300 hover:bg-indigo-600 text-white py-2 px-4 rounded mr-4" type="button">
        Change Password
      </button>

</div></form>
</div>
<script src="{{url_for('static', filename='js/ajax.js')}}"></script>
<script src="{{url_for('static', filename='js/changePassword.js')}}"></script>
{% endblock content %}